.test-score {
    display: flex;
    gap: 4.5rem;
    margin: 5rem;
    font-family: sans-serif;
    border-radius:1.25rem ;
    height: 23rem;
    box-shadow:0.9rem  1.25rem 0.6rem white;
  }
  
.Res{
    display: flex;
    flex-direction: column;
    background-color: #2f1d83;
    color: white;
    border-radius: 1.25rem;
    align-items: center;
}
.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f1d83;
    width: 9.3rem;
    height: 9rem;
    border-radius: 60%;
    
}
.text{
    margin-top: 2.1rem;
}
p{
    color: gray;
    width: 14rem;
    text-align: center;
}
.btn{
    background-color:  #445583;
    color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
}
h3{
    color: #120549;
}
.Summarys{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}